POSTGRES_DB=assignflow
POSTGRES_USER=assignflow
POSTGRES_PASSWORD=replace_with_a_strong_local_password
JWT_KEY=replace_with_at_least_32_random_characters_before_deployment
ADMIN_PASSWORD=12345678
DEMO_PASSWORD=AssignFlow@123
